table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }


  div
  {
      text-align: center;
  }


  mat-card {
    max-width: 80%;
    margin: 1em auto;
    background-color: rgb(255, 255, 255);
  }
  
  .mat-card {
    /* width: 40%; */
    width: 500px;
    /* height: 350px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    /* padding-bottom: 1px; */
  }