.maindiv{
  width: max-content;
   margin: auto;
     padding: 10px;
     
}
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .status-button{
    float: none; 
    text-align: center
  }
  
   td, th {
      width: 150px;
    } 
  