
<div class="maindiv  mat-elevation-z15">
  <h3>Employee List</h3>

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input
    class="border-primary"
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Search with employee id or employee name"
      #input
    />
  </mat-form-field>
  <div class="table-responsive">
  <table 
    class="table 
      table-striped
      table-hover 
      table-bordered
      text-center
      "
  >
    <tr  >
      <th   (click)="getSort('empId')">
        Employee ID &nbsp;<mat-icon style="cursor: pointer">filter_list</mat-icon>
      </th>
      <th (click)="getSort('firstName')">
        Employee Name &nbsp;<mat-icon style="cursor: pointer">filter_list</mat-icon>
      </th>
      <th (click)="getSort('createdOn')">
        Date Of registration &nbsp;<mat-icon style="cursor: pointer">filter_list</mat-icon>
      </th>
      <th (click)="getSort('status')">
        Status &nbsp;<mat-icon style="cursor: pointer">filter_list</mat-icon>
      </th>
      <th>Edit Status</th>
    </tr>
    <tr
      *ngFor="
        let employee of allEmployee
          | orderBy: columnName
          | paginate
            : { itemsPerPage: pageSize, currentPage: page, totalItems: count };
        let i = index
      "
    >
      <td>{{ employee.empId }}</td>
      <td>
        <b
          >{{ employee.firstName | uppercase }}&nbsp;{{
            employee.lastName | uppercase
          }}</b
        >
      </td>
      <td>{{ employee.createdOn | date }}</td>
      <td>
        <h3
          class="status-button bg-success"
          *ngIf="employee.status == 'active'"
        >
          <span>Active</span>
        </h3>
        <h3
          *ngIf="employee.status == 'deactive'"
          class="status-button bg-warning"
        >
          <span>Inactive </span>
        </h3>
        <h3
          class="status-button bg-danger"
          *ngIf="employee.status == 'block'"
        >
          <span>Blocked</span>
        </h3>
      </td>
      <td>
        <button mat-button class="menu-button" (click)="onClick(i)">
          <mat-icon>edit</mat-icon>
        </button>
        <mat-form-field
          *ngIf="!disableSelect.value && index == i"
          appearance="fill"
        >
          <mat-label>Choose an option</mat-label>
          <mat-select
            [(ngModel)]="selectedValue"
            [formControl]="selected"
            [errorStateMatcher]="matcher"
          >
            <mat-option
              *ngFor="let status of allStatus"
              [value]="status.value"
              (click)="addValues(employee.userId)"
              >{{ status.viewValue }}</mat-option
            >
          </mat-select>
          <mat-error *ngIf="selectedValue === employee.status">
            User has already {{ employee.status }}
          </mat-error>
        </mat-form-field>
      </td>
    </tr>

    <!-- <span 
      ><button
       
        (click)="changeStatus()"
        class="btn btn-primary"
      >
        Save
      </button></span
    > -->
    
  
    <tr class="mat-row" *ngIf="count==0">
      <td class="mat-cell" colspan="2">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
  <div>
    <span style="float: right; padding-right: 10%"
      ><button
        style="width: 100px"
        (click)="changeStatus()"
        class="btn btn-success"
      >
        Save
      </button></span
    >
  </div>
  <div>
    <label for="record" class="font-weight-bold text-dark"
      >Select Number of Record&nbsp;</label
    >
    <select
      
      name="record"
      id="record"
      [(ngModel)]="pageSize"
      (ngModelChange)="changeRecord(pageSize)"
    >
      <option value="5" selected>5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
  </div>
  <pagination-controls
    (pageChange)="handlePageChange($event)"
    previousLabel="Prev"
    nextLabel="Next"
    [responsive]="true"
  ></pagination-controls>
</div>
</div>
 

