mat-form-field {
  width: 60%;
  /* padding-bottom: 0; */
}

mat-card {
  max-width: 80%;
  margin: 7em auto;
  background-color: rgb(255, 255, 255);
}

.mat-card {
  width: 30%;
  width: 350px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 1px;
}

/* Css For Eye Icon */
