table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
  font-size: 14px;
}

/* td, th {
     width: 25%; 
  } */


.maindiv {
 width: 90%;
  margin: auto;
  padding: 10px;
  height: 80%;
}
.status-button {
  color: aliceblue;
  float: none;
  text-align: center;
  font-size: 18px;
}

::ng-deep .mat-paginator {
  background-color: transparent;
  color: white;
  
}
.center-text{
  text-align: center;
}