<div >
    <div class="footer" >
        <div class="panel panel-default" style="background-color: black; text-align: center;">
          <div class="panel-body" style="color: gainsboro;"><i class="fa fa-copyright"></i>All Right Reserve To CT General Hospital
            &nbsp;&nbsp;&nbsp;&nbsp;
            <b style="color:rebeccapurple;">Site Maintaine By Java Team 1</b>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span><b>Follow us on </b> <a href="#" class="fa fa-facebook-official" style="color:blue"></a></span>
            <i class="fa fa-instagram" style="color:red"></i>
            <span> <a href="#" class="fa fa-linkedin" style="color:blue"></a></span>
            <span>  <a href="#" class="fa fa-twitter"style="color:blue"></a></span>
        </div>
          
        </div>
      </div>
</div>
