<p class="heading">Add Procedure</p>

<form [formGroup]="Form" (submit)="onSubmit()">
  <input class="form-control"
    list="procedureCodeId"
    formControlName="procedureCode"
    placeholder="select procedure code"
  />
  <datalist id="procedureCodeId">
    <option *ngFor="let option of activeProcedureList">
      {{ option.procedureCode }}
    </option>
  </datalist>

  <br />

  <input class="form-control"
    list="procedureDescriptionId"
    formControlName="description"
    placeholder="Select Procedure Description"
  />
  <datalist id="procedureDescriptionId">
    <option *ngFor="let option of activeProcedureList">
      {{ option.description }}
    </option>
  </datalist>

  <br />

  <div class="row">
    <div class="col text-center">
      <button type="submit" class="btn btn-success">Save</button>&nbsp;
      <button type="button" class="btn btn-danger" (click)="onClose()">Close</button>
    </div>
  </div>
</form>
