<mat-tab-group>
  <mat-tab label="Patient Visit History">
    <app-visit-history></app-visit-history>
  </mat-tab>
  <mat-tab label="Patient Details">
    <app-patient-detail></app-patient-detail>
  </mat-tab>
  <mat-tab label="Vital Signs">
    <app-vital-signs></app-vital-signs>
  </mat-tab>
  <mat-tab label="Diagnosis">
    <app-diagnosis></app-diagnosis>
  </mat-tab>
  <mat-tab label="Procedure">
    <app-patient-procedures></app-patient-procedures>
  </mat-tab>
  <mat-tab label="Medication">
    <app-medications></app-medications>
  </mat-tab>
</mat-tab-group>
