<p class="heading">Add Diagnosis</p>

<form [formGroup]="Form" (submit)="onSubmit()">
  <input
    class="form-control"
    list="diagnosisCodeId"
    formControlName="diagnosisCode"
    placeholder="select diagnosis code"
  />
  <datalist id="diagnosisCodeId">
    <option *ngFor="let option of activeDiagnosisList">
      {{ option.diagnosisCode }}
    </option>
  </datalist>

  <br />

  <input
    class="form-control"
    list="diagnosisDescriptionId"
    formControlName="description"
    placeholder="Select Diagnosis Description"
  />
  <datalist id="diagnosisDescriptionId">
    <option *ngFor="let option of activeDiagnosisList">
      {{ option.description }}
    </option>
  </datalist>

  <br />

  <div class="row">
    <div class="col text-center">
      <button type="submit" class="btn btn-success">Save</button>&nbsp;
      <button type="button" class="btn btn-danger" (click)="onNoClick()">Close</button>
    </div>
  </div>
</form>

