<p class="heading">Add Diagnosis</p>


<form [formGroup]="Form" (submit)="onSubmit()">
  <input
    type="text"
    formControlname="diagnosisCode"
    placeholder="Diagnosis Code"
  /><br />
  <input
    type="text"
    formControlname="diagnosisName"
    placeholder="Diagnosis Name"
  /><br />
  <input
    type="text"
    formControlname="description"
    placeholder="Diagnosis Description"
  /><br />

  <div class="row" style="margin-top: 50px">
    <div class="col text-center">
      <button type="submit" class="primary">Save</button>&nbsp;
      <button class="btn-danger" (click)="onClose()">Close</button>
    </div>
  </div>
</form>
