table {
  width: 100%;
  background-color: beige;
}
.content{
  background-color: beige;
}
  
  .mat-form-field {
    font-size: 14px;
    
  }
  
  /* td, th {
     width: 20%;
  }  */
  .date{
      width: 25%;
  }
  .message{
      width: 40%;
  }
  .sender{
      width: 20%;
  }
  .dailog-button{
        float: right;
  }

  .header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: rgb(68, 63, 63)
  }
  