

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-container .mat-form-field {
    width: 75%;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 12px;
  }

  .maindiv{
    background-image: url('src\assets\pexels-photo-4386467.jpeg');
  }
  