<p class="heading">Diagnosis Master Data</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <button
        type="button"
        class="btn btn-primary"
        (click)="addDiagnosisPopUp()"
      >
        Add New Diagnosis
      </button>
    </div>
  </div>
</div>

<br />

<table   class="table table-hover table-bordered
table-responsive
table-light
text-center
">
  <thead>
    <tr>
      <th scope="col">Diagnosis Code</th>
      <th scope="col">Diagnosis Description</th>
      <th scope="col">Depricated</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of diagnosisList">
      <td scope="row">{{ d.diagnosisCode }}</td>
      <td scope="row">{{ d.description }}</td>
      <td scope="row">
        <label class="switch">
          <input
            type="checkbox"
            [checked]="d.isDepricated == 'yes'"
            (change)="diagnosisDepricate(d)"
          />
          <span class="slider round"></span>
        </label>
      </td>
      <td>  
        <mat-icon class="button" (click)="editDiagnosisPopUp(d)" >edit</mat-icon>
        <mat-icon class="button" (click)="deleteDiagnosis(d.diagnosisCode)" >delete</mat-icon>
      </td>
    </tr>
  </tbody>
</table>
