.ng-valid[required], .ng-valid.required {border: 1px solid #42A948;}
.error {color:#ff0000;}
.success { color:green; }
.contact-message { text-align: center; }

.maindiv {
    width: max-content;
    margin: auto;
    padding: 10px;
    height: 70%;
    width: 70%;
    margin-top: 10px;
  }
  mat-form-field{
      width: 100%;
      background-color: snow;
     
  }
  .textarea{
      height: 50%;
  }
  .users-button{
      width: 200px;
  }
  .main-content{
    background-image: url('src\assets\email-bg.jpg');
    border: solid 2px thistle
  }