<div class="maindiv">
  <section class="table-bordered">
    <div class="container">
      <div class="page-desc" [hidden]="submitted">
        <div class="row justify-content-center">
          <div
            class="main-content col-md-8 mat-elevation-z3"
          >
            <h3>Send New Notification</h3><br>
            <button type="button"[disabled]="allPatientButton" (click)="getAllPatient()" mat-raised-button color="primary" class="users-button">Send To All Patient</button>&nbsp;&nbsp;
                  <button type="button" [disabled]="ActivePatientButton" (click)="getAllActivePatient()" mat-raised-button color="primary"class="users-button">Send To All Active Patient</button>
                  <hr><button type="button" [disabled]="allEmployeeButton" (click)="getAllEmployee()" mat-raised-button color="primary"class="users-button">Send To All Staff</button>&nbsp;&nbsp;
                  <button type="button" [disabled]="activeEmployeebutton" (click)="getAllActiveEmployee()" mat-raised-button color="primary"class="users-button">Send To All Active Staff</button>
                  <hr>
            <form (ngSubmit)="onSubmit()" [formGroup]="emailform">
              <div class="form-group">
                <mat-form-field class="form-control-lg form-label">
                  <label for="colFormLabel" class="col-sm-2 col-form-label"
                    >To:</label
                  >
                  
                  <input
                  [disabled]="disabledInput"
                    type="text"
                    formControlName="email"
                    id="email"
                    class="form-control input-border-radius-lg form-control-lg"
                    matInput
                    [ngClass]="f.email.errors"
                    [(ngModel)]="value"
                    [disabled]="disabledInput"
                  >
                  <button
                  type="button"
                    *ngIf="value"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="clearInput()"
                  >
                    <mat-icon>close</mat-icon>
                  </button>

                  <div *ngIf="f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.touched" class="alert alert-danger">
                      <div *ngIf="f.email.errors.required">Email Required</div>
                    </div>
                  </div>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <label for="colFormLabel" class="col-sm-2 col-form-label"
                    >Subject:</label
                  >
                  <input
                    type="subject"
                    formControlName="subject"
                    id="subject"
                    class="form-control input-border-radius-lg form-control-lg"
                    matInput
                    [ngClass]="f.subject.errors"
                  />
                  <div *ngIf="f.subject.errors" class="invalid-feedback">
                    <div *ngIf="f.subject.touched" class="alert alert-danger">
                      <div *ngIf="f.subject.errors.required">
                        Email Required
                      </div>
                    </div>
                  </div>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="textarea">
                  <textarea
                    formControlName="body"
                    id="body"
                    class="form-control input-border-radius-lg"
                    matInput
                    rows="10"
                    [ngClass]="f.body.errors"
                  ></textarea>
                  <div *ngIf="f.body.errors" class="invalid-feedback">
                    <div *ngIf="f.body.touched" class="alert alert-danger">
                      <div *ngIf="f.body.errors.required">Email Required</div>
                    </div>
                  </div>
                </mat-form-field>
              </div>
              <div class="form-group">
                <button [disabled]="!emailform.valid" class="btn btn-success">
                  Send Message
                </button>
              </div>
            </form>
          </div>
      
      </div>
      </div>
    </div>
  </section>
</div>
