.heading {
  color: rgb(26, 65, 192);
  size: 4px;
  font-size: 20px;
  text-align: center;
}

.form-control
{
  text-align: center;
width: 25%;
}
form {
  text-align: center;
}

table,
td,
th {
  border: 1px solid black;
  text-align: center;
  width: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}


