<p class="heading">PATIENT DETAILS</p>

<table style="width: 100%">
  <tr>
    <th>title</th>
    <td>{{ patient.title }}</td>
  </tr>

  <tr>
    <th>First Name</th>
    <td>{{ patient.firstName }}</td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td>{{ patient.lastName }}</td>
  </tr>

  <tr>
    <th>Date of Birth</th>
    <td>{{ patient.birthDate }}</td>
  </tr>

  <tr>
    <th>Email</th>
    <td>{{ patient.email }}</td>
  </tr>

  <tr>
    <th>age</th>
    <td>{{ patient.age }}</td>
  </tr>

  <tr>
    <th>gender</th>
    <td>{{ patient.gender }}</td>
  </tr>

  <tr>
    <th>race</th>
    <td>{{ patient.race }}</td>
  </tr>

  <tr>
    <th>Ethnicity</th>
    <td>{{ patient.ethnicity }}</td>
  </tr>

  <tr>
    <th>Language known</th>
    <td>{{ patient.langKnown }}</td>
  </tr>

  <tr>
    <th>Email</th>
    <td>{{ patient.email }}</td>
  </tr>

  <tr>
    <th>contact No</th>
    <td>{{ patient.contactNo }}</td>
  </tr>

  <tr>
    <th>address</th>
    <td>{{ patient.address }}</td>
  </tr>

  <tr>
    <th>city</th>
    <td>{{ patient.city }}</td>
  </tr>

  <tr>
    <th>pincode</th>
    <td>{{ patient.pincode }}</td>
  </tr>

  <tr>
    <th>state</th>
    <td>{{ patient.state }}</td>
  </tr>

  <tr>
    <th>country</th>
    <td>{{ patient.country }}</td>
  </tr>

  <br />

  <button class="btn btn-danger" (click)="onNoClick()">Close</button>
</table>
