<p class="heading">Procedure Master Data</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <button
        type="button"
        class="btn btn-primary"
        (click)="addDiagnosisPopUp()"
      >
        Add New Procedures
      </button>
    </div>
  </div>
</div>
<br />

<table   class="table table-hover table-bordered
table-responsive
table-light
text-center
">
  <thead>
    <tr>
      <th scope="col">Procedure Code</th>
      <th scope="col">Procedure Description</th>
      <th scope="col">Depricated</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of procedureList">
      <td scope="row">{{ d.procedureCode }}</td>
      <td scope="row">{{ d.description }}</td>
      <td scope="row">
        <label class="switch">
          <input
            type="checkbox"
            [checked]="d.isDepricated == 'yes'"
            (change)="procedureDepricate(d)"
          />
          <span class="slider round"></span>
        </label>
      </td>
      <td>  
        <mat-icon class="button" (click)="editDiagnosisPopUp(d)"  >edit</mat-icon>
        <mat-icon class="button" (click)="deleteProcedure(d.procedureCode)"  >delete</mat-icon>
      </td>
    </tr>
  </tbody>
</table>
