<mat-card>
  <mat-card-title>Change Password</mat-card-title>
  <mat-divider [inset]="true"></mat-divider>
  <br />
  <mat-card-content>
    <form [formGroup]="form" ngNativeValidate (ngSubmit)="onSubmit()">
      <mat-error *ngIf="errorMessage !== ''">{{ errorMessage }}</mat-error>
      <mat-form-field *ngIf="!newUser" appearance="outline">
        <mat-label>Old Password</mat-label>
        <input
          matInput
          [type]="hideOldPwd ? 'password' : 'text'"
          placeholder="Old Password"
          formControlName="oldPassword"
        />
        <button
          class="eye-icon"
          mat-icon-button
          matSuffix
          (click)="hideOldPwd = !hideOldPwd"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideOldPwd"
          type="button"
        >
          <mat-icon>{{
            hideOldPwd ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="isFieldInvalid('oldPassword')">{{
          errorOldPassword()
        }}</mat-error>
        <mat-hint></mat-hint>
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          matInput
          [type]="hideNewPwd ? 'password' : 'text'"
          placeholder="New Passoword"
          formControlName="password"
        />
        <button
          class="eye-icon"
          mat-icon-button
          matSuffix
          (click)="hideNewPwd = !hideNewPwd"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideNewPwd"
          type="button"
        >
          <mat-icon>{{
            hideNewPwd ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="isFieldInvalid('password')">{{
          errorPassword()
        }}</mat-error>
        <mat-hint></mat-hint>
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          [type]="hideConfirmPwd ? 'password' : 'text'"
          placeholder="Confirm Passoword"
          formControlName="confirmPassword"
        />
        <button
          class="eye-icon"
          mat-icon-button
          matSuffix
          (click)="hideConfirmPwd = !hideConfirmPwd"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideConfirmPwd"
          type="button"
        >
          <mat-icon>{{
            hideConfirmPwd ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="isFieldInvalid('confirmPassword')">{{
          errorConfirmPassword()
        }}</mat-error>
        <mat-hint></mat-hint>
      </mat-form-field>
      <br />
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
<!-- <h2>Change Password</h2>
<form [formGroup]="form">
  <div *ngIf="submitted && retries >= 2" class="alert alert-danger">
    <div>
      {{ errorMessage() }}
    </div>
  </div>
  <div *ngIf="!newUser" class="form-group">
    <label for="">Old Password</label>
    <input type="password" class="form-control" formControlName="oldPassword" />
    <div
      *ngIf="submitted && form.controls.oldPassword.errors"
      class="alert alert-danger"
    >
      {{ errorOldPassoword() }}
    </div>
  </div>
  <div class="form-group">
    <label for="">New Password</label>
    <input type="password" class="form-control" formControlName="password" />
    <div
      *ngIf="submitted && form.controls.password.errors"
      class="alert alert-danger"
    >
      {{ errorPassword() }}
    </div>
  </div>
  <div class="form-group">
    <label for="">Confirm New Password</label>
    <input
      type="password"
      class="form-control"
      formControlName="confirmPassword"
    />
    <div
      *ngIf="submitted && form.controls.confirmPassword.errors"
      class="alert alert-danger"
    >
      {{ errorConfirmPassword() }}
    </div>
  </div>

  <button class="btn btn-success" type="button" (click)="onSubmit()">
    Submit
  </button>
</form> -->
