<div>
  <h2 class=".font-weight-bold" style="color: coral">
    <b>CT General Hospital</b>
  </h2>
  <div class="line"></div>
  <div class="container">
    <div class="row">
      <div
        class="col-sm-6"
        style="border: solid 2px black"
        id="patientdashboard"
      >
        <h3>Patient User Management</h3>
        <div class="row">
          <div class="col-lg-12" id="BarChart">
            <p-chart type="bar" [data]="patientData"></p-chart>
          </div>
          <a routerLink="patient-details" class="active"
            ><p style="text-align: right; color: red; font-weight: 600">
              <mat-icon>label_important</mat-icon>View all Patient Details....
            </p></a
          >
        </div>
      </div>
      <div class="col-sm-6" style="border: solid 2px black" id="userdashboard">
        <h3>Hospital User Management</h3>
        <div class="row">
          <div class="col-lg-12" id="BarChart">
            <p-chart type="bar" [data]="userData"></p-chart>
          </div>
          <a routerLink="employee-details"
            >
            <p style="text-align: right; color: red; font-weight: 600">
              <mat-icon>label_important</mat-icon>
              View all User Details....
            </p></a
          >
        </div>
      </div>
    </div>
    <div class="line"></div>
  </div>
</div>
