


#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border-bottom: 1px solid rgb(15, 15, 15);
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

.maindiv{
    width: 80%; 
    margin-top: 20px;
     margin-left: 40px;
    
     
}
.backgroundimage{
    background-image: url('src\assets\pexels-photo-532566.jpeg');
}





















    
   
    
   
   
   
   
   
 

#maindiv{
    
    height: 95%;
      margin-left: 7%;
      margin-top: 5%;
     
  }