<br />
<button class="btn btn-primary" (click)="addProcedure()">Add Procedure</button>
<br>
<br />
<table>
  <tr>
    <th>Procedure id</th>
    <th>Procedure Code</th>
    <th>Procedure Description</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let procedure of procedureList">
    <td>{{ procedure.id }}</td>
    <td>{{ procedure.procedureCode }}</td>
    <td>{{ procedure.description }}</td>
    <td>
      <mat-icon class="deleteButton" (click)="deleteProcedure(procedure.id)">delete</mat-icon>
    </td>
  </tr>
</table>
<br />

