.custom-event-editor .e-textlabel {
    padding-right: 15px;
    text-align: right;
}

.custom-event-editor td {
    padding: 7px;
    padding-right: 16px;
}

.form-group{
    padding-bottom: 12px;
}
/* #_dialog_wrapper{
    height: 460px;
} */
.e-float-text {
    font-weight: 500;
}


.row {
    padding-bottom: 30px;
    padding-top: 25px;
}

.e-custom-disable {
    pointer-events: none;
    background: gray !important;
    color: black !important;
  }

  .e-custom-hide{
      display: none;
  }

  #patienterroMsg,#startDateCheck,#endDateCheck,#timeSlot{
      color: red !important;
      font-size: 11px;
  }


  mat-sidenav-content{
    overflow-x: hidden;
    overflow-y: hidden !important;
  
  }

  #books_Error{
    top: 188px; left: 232.5px;
  }

  .e-input .e-error{
    color: black !important;
    border-color: #181616
  }