<div class="message-dailog">
  <div>

<h1 mat-dialog-title>
  {{note.receiver.firstName}}&nbsp;
  {{note.receiver.lastName}}
</h1>
<div>
  
<div class="input-full-width" mat-dialog-content>
  <span>Hi <b>{{note.sender.firstName}}</b></span>
  <p style="font: message-box;;">{{note.message}}</p><br>
  <p [hidden]="note.reply.length ==0" style="color: red;">Previous Reply on this Note</p>
  <div style="color: dimgrey;">
    <p *ngFor="let r of note.reply">{{r}}</p>
  </div>
  <form [formGroup]="replyform" (ngSubmit)="onSendClick()">
  <mat-form-field class="input-full-width" appearance="fill">
    <mat-label>Reply to this note</mat-label>
    <textarea matInput placeholder="Enter....." formControlName="reply"></textarea>
  </mat-form-field>
  <button type="submit" color="primary" mat-button ><mat-icon>send</mat-icon>&nbsp; Send</button>
</form>
</div><br>
<div mat-dialog-actions>
 
  <button mat-icon-button color="accent" mat-button (click)="onDeleteClick()">Delete</button>
  <button style="float: right;" color="warn" mat-button mat-dialog-close cdkFocusInitial>Close</button>
</div>

</div>