<div class="message-dailog">
  <div>

<h1 mat-dialog-title>
  {{note.receiver.firstName}}&nbsp;
  {{note.receiver.lastName}}
</h1>
<div>
<div class="input-full-width" mat-dialog-content>
  <span>Hi <b>{{note.sender.firstName}}</b></span>
  <p>{{note.message}}</p><br>
  <!-- <mat-form-field appearance="fill">
    <mat-label>reply</mat-label>
    <textarea matInput [value]="note.receiver.firstName"></textarea>
  </mat-form-field> -->
  <mat-form-field class="input-full-width" appearance="fill">
    <mat-label>Reply to this note</mat-label>
    <textarea [value]="reply" matInput placeholder="Enter....."></textarea>
  </mat-form-field>
</div><br>
<div mat-dialog-actions>
  <button color="primary" mat-button (click)="onSendClick()" >Send</button>
  <button mat-icon-button color="accent" mat-button (click)="onDeleteClick()">Delete</button>
  <button style="float: right;" color="warn" mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
</div>
</div>