<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-tab-group>
    <mat-tab label="PATIENT REGISTRATION">
      <!-- <div class="image"> -->
      <!-- <div style="font-size: 15px"> -->
      <br />
      <p class="heading">PATIENT REGISTRATION</p>
      <br />

      <table class="example-full-width" cellspacing="0">
        <tr>
          <input hidden="true" formControlName="id" [(ngModel)]="patient.id" />

          <td>
            <mat-radio-group
              aria-label="Select an option"
              formControlName="title"
              [(ngModel)]="patient.title"
            >
              <mat-radio-button value="Mr.">Mr.</mat-radio-button>
              <mat-radio-button value="Mrs.">Mrs.</mat-radio-button>
              <mat-radio-button value="Ms.">Ms.</mat-radio-button>
              <mat-radio-button value="Dr.">Dr.</mat-radio-button>
            </mat-radio-group>
          </td>

          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="First Name"
                formControlName="firstName"
                [(ngModel)]="patient.firstName"
              />
              <mat-error *ngIf="isFieldInvalid('firstName')">{{
                errorFirstName()
              }}</mat-error>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Last Name"
                formControlName="lastName"
                [(ngModel)]="patient.lastName"
              />

              <mat-error *ngIf="isFieldInvalid('lastName')">{{
                errorLastName()
              }}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input
                type="date"
                matInput
                placeholder="Date of Birth"
                formControlName="birthDate"
                [(ngModel)]="patient.birthDate"
                (change)="ageCalculator()"
              />

              <mat-error *ngIf="isFieldInvalid('birthDate')">{{
                errorBirthDate()
              }}</mat-error>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Age"
                value="{{ showAge }}"
                formControlName="age"
                [(ngModel)]="patient.age"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-radio-group
              aria-label="Select an option"
              [(ngModel)]="patient.gender"
              formControlName="gender"
            >
              <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
              <mat-radio-button value="Other">Other</mat-radio-button>

              <mat-error *ngIf="isFieldInvalid('gender')">{{
                errorGender()
              }}</mat-error>
            </mat-radio-group>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Race"
                maxlength="50"
                formControlName="race"
                [(ngModel)]="patient.race"
              />

              <mat-error *ngIf="isFieldInvalid('race')">{{
                errorRace()
              }}</mat-error>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Ethnicity"
                formControlName="ethnicity"
                [(ngModel)]="patient.ethnicity"
              />
              <mat-error *ngIf="isFieldInvalid('ethnicity')">{{
                errorEthnicity()
              }}</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Language Known"
                maxlength="50"
                formControlName="langKnown"
                [(ngModel)]="patient.langKnown"
              />
              <mat-error *ngIf="isFieldInvalid('langKnown')">{{
                errorLanguages()
              }}</mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Email"
                formControlName="email"
                [(ngModel)]="patient.email"
              />
              <mat-error *ngIf="isFieldInvalid('email')">{{
                errorEmail()
              }}</mat-error>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Contact Number"
                formControlName="contactNo"
                [(ngModel)]="patient.contactNo"
              />
              <mat-error *ngIf="isFieldInvalid('contactNo')">{{
                errorContactNo()
              }}</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <textarea
                matInput
                placeholder="Home Address"
                formControlName="address"
                [(ngModel)]="patient.address"
              ></textarea>
              <mat-error *ngIf="isFieldInvalid('address')">{{
                errorAddress()
              }}</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </mat-tab>
    <mat-tab label="EMERGENCY CONTACT DETAILS">
      <br />
      <p class="heading">EMERGENCY CONTACT DETAILS</p>
      <br />

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="First Name"
                formControlName="emgrFname"
                [(ngModel)]="patient.emgrFname"
              />
              <mat-error *ngIf="isFieldInvalid('emgrFname')">{{
                errorEmergencyContactFirstName()
              }}</mat-error>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Last Name"
                formControlName="emgrLname"
                [(ngModel)]="patient.emgrLname"
              />
              <mat-error *ngIf="isFieldInvalid('emgrLname')">{{
                errorEmergencyContactLastName()
              }}</mat-error>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field appearance="fill">
              <mat-label>Relationship</mat-label>
              <mat-select
                [(ngModel)]="patient.emgrRelation"
                formControlName="emgrRelation"
              >
                <mat-option>None</mat-option>
                <mat-option value="Father">Father</mat-option>
                <mat-option value="Mother">Mother</mat-option>
                <mat-option value="Sibling">Sibling</mat-option>
                <mat-option value="Spouse">Spouse</mat-option>
                <mat-option value="Brother">Brother</mat-option>
                <mat-option value="Friend">Friend</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Email"
                formControlName="emgrEmail"
                [(ngModel)]="patient.emgrEmail"
              />
              <mat-error *ngIf="isFieldInvalid('emgrEmail')">{{
                errorEmergencyContactEmail()
              }}</mat-error>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Contact Number"
                formControlName="emgrPhnumber"
                [(ngModel)]="patient.emgrPhnumber"
              />
              <mat-error *ngIf="isFieldInvalid('emgrPhnumber')">{{
                errorEmergencyContactContactNo()
              }}</mat-error>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="example-full-width">
              <textarea
                matInput
                placeholder="Address"
                formControlName="emgrAddress"
                [(ngModel)]="patient.emgrAddress"
              ></textarea>

              <mat-error *ngIf="isFieldInvalid('emgrAddress')">{{
                errorEmergencyContactAddress()
              }}</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <h2>Do you need access to patient portal?</h2>

      <mat-radio-group>
        <mat-radio-button
          value="true"
          (change)="isDisableAllergyTab = true"
          color="primary"
          >Yes</mat-radio-button
        >
        <mat-radio-button
          [checked]="true"
          value="false"
          (change)="isDisableAllergyTab = false"
          color="warn"
          >No</mat-radio-button>
      </mat-radio-group>
    </mat-tab>
    <span *ngIf="isDisableAllergyTab">
      <mat-tab label="ALLERGY">
        <br />
        <p class="heading">ALLERGY DETAILS</p>

        <h2>Patient has any known allergies?</h2>
        <mat-radio-group>
          <mat-radio-button
            value="true"
            (change)="isDisableAllergy = true"
            (click)="allergyFunction()"
            color="primary"
            >Yes</mat-radio-button
          >
          <mat-radio-button
            [checked]="true"
            value="false"
            (change)="isDisableAllergy = false"
            color="warn"
            >No</mat-radio-button
          >
        </mat-radio-group>
        <br />
        <br />

        <!-- <div style="font-size: 15px"> -->

        <span *ngIf="isDisableAllergy">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="addAllergyPopUp()"
                >
                  Add New Allergy
                </button>
              </div>
            </div>
          </div>

          <br />

          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">Allergy ID</th>
                <th scope="col">Allergy Name</th>
                <th scope="col">Allergy Type</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of allergyList">
                <td scope="row">{{ d.allergyId }}</td>
                <td scope="row">{{ d.allergyName }}</td>
                <td scope="row">{{ d.allergyType }}</td>
                <td scope="row">{{ d.allergyDesc }}</td>
                <td scope="row">
                  <mat-icon class="deleteButton" (click)="deleteAllergy(d.id)"
                    >delete</mat-icon
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </span>
      </mat-tab>
    </span>
  </mat-tab-group>

  <div class="myButtons">
    <button type="submit" style="margin-right: 16px" class="btn btn-success">
      SUBMIT
    </button>
    <button type="reset" style="margin-right: 16px" class="btn btn-danger">
      Clear
    </button>
  </div>
</form>
